* {
    /* font-family: 'Inter' */
}

.navBack {
    margin-block: 20px;
}

.link {
    
    display: flex;
    align-items: center;
}
.link:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.link:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

main {
    width: 100%;
    min-height: calc(100vh - 140px) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemonMain {
    height: calc(100vh - 160px) !important;
}

header {
    background-color: #8DC63F;
    height: 20px;
}

footer {
    background-color: #8DC63F;
    height: 120px;
}

h1, p {
    margin: 0 0;
}

.pokedex {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    max-width: 887px;
    padding-inline: 100px;
    margin-inline: auto;
}

.pokedex > h1 {
    margin-bottom: 46px;
    font-size: 72px;
}


.filters {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.filters > * {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 345px;
    gap:8px;
}

.filters > * > select {
    padding-right: 10px;
    background-color: #313131;
    height: 40px;
    border-radius: 4px;
    color: #FFFFFF;
}

.filters > * > label {
    color: #808285;
    font-size: 18px;
    font-weight: 500;
}

.backgroundImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pokelist {
    justify-content: space-between;
    margin: 30px 0px 34px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    position: relative;
    width: 165px;
    height: 124px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    align-items: flex-start;
    overflow: hidden;
}

.card > *{
    margin-left: 12px;
}

.card > span {
    font-size: 13px;
    font-weight: 700;
    color: #808285;
    margin-top: auto;
    margin-bottom: 12px;
}


.sprite {
    display: absolute;
}

.card > h1 {
    margin-top: 7px;
    font-size: 18px;
}


.typeContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
    z-index: 1;
}

.card > h1::first-letter {
    text-transform: uppercase;
}


.typeLabel::first-letter {
    text-transform: uppercase;
}




.card > .stripeContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 96px;
    height: 96px;
}

.card > .pokeballBackground {
    position: absolute;
    z-index: 0;
    bottom: -15px;
    right: -15px;
    width: 130px;
    height: 130px;
    opacity: 0.06;
}

.paginator {
    width: 100%;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    margin-bottom: 85px;
}

.paginator > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator > span {
    margin-inline: 20px;
    font-size: 16px;
}

.arrowBtn {
    border-radius: 100%;
    background-color: #FFF;
    border: none;
}

.arrowBtn > * {
    color: #176DDE;
    font-size: 26px;
}

.pokemonSection {
    background: linear-gradient(to top, #F2F2F2 50%, #fff 50%);
    width: 100%;
    height: 100%;
}

.details {
    position: relative;
    height: calc(50% - 20px);
    margin-inline: auto;
    max-width: 960px;
    padding-inline: 15px;
}
.details > a:first-child {
    margin-bottom: 20px;
}

.details:first-of-type {
    margin-block: 20px;
}

.details > .detailSprite {
    position: absolute;
    bottom: 30px;
    right: 140px;
    width: 215px;
    height: 215px;
}

.details > .pokeballBackground {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    right: 15px;
    z-index: 0;
    width: 260px;
    height: 260px;
    opacity: 0.06;
}

.backBtn {
    color: #176DDE;
    margin-right: 8px;
    font-size: 26px;
}

.details > h1::first-letter {
    text-transform: uppercase;
}

.details > h1 {
    font-size: 72px;
}


.details > .typeContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    z-index: 1;
}

.details .typeContainer > .typeLabel {
    margin-block: 12px;
    border-radius: 20px;
    font-weight: 600;
    padding-inline: 16px;
    padding-block: 4px;
    font-size: 18px;
}

.typeContainer > .typeLabel {
    border-radius: 12px;
    padding-inline: 8px;
    padding-block: 4px;
    font-size: 11px;
}


.details > span {
    font-size: 24px;
    font-weight: 700;
    color: #808285;
}

.pokemonStats {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    background-color: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 36px 74px 52px;
    transform: translate(-50%, -33%);
}


.pokemonStats > div {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 10px;
}

.pokemonStats > div > div:nth-child(2n) {
    font-weight: 700;
}

.pokemonStats > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.pokemonStats > div:nth-child(1) > div:nth-child(1) {
    margin-right: 70px;
}
.pokemonStats > div:nth-child(1) > div:nth-child(2) {
    text-wrap: nowrap;
    margin-right: 75px;
}
.pokemonStats > div:nth-child(2) > div:nth-child(1) {
    margin-right: 60px;
}

.pokemonStats > div:nth-child(2) > div:nth-child(2) {
    padding-right: 27px;
}

.pokemonStats label {
    white-space: nowrap;
  }

.error {
    display: flex;
    width: 100%;
    justify-content: center;
}





@media (max-width: 768px){


    footer {
        height: 60px;
    }

    .pokemonMain {
        height: calc(100vh - 80px) !important;
    }

    .pokedex > h1 {
        font-size: 36px;
        margin-bottom: 12px;
    }

    .pokedex {
        margin-top: 48px;
        padding-inline: 15px;
    }

    .filters {
        flex-direction: column;
        gap: 18px;
    }

    .filters > * {
        max-width: none;
    }

    .card > h1 {
        margin-top: 7px;
        font-size: 18px;
        margin-bottom: 6px;
    }


    .pokemonStats {
        width: calc(100% - 180px);
        flex-direction: column;
        gap: 60px;
        padding: 30px 74px 32px 50px;
        transform: translate(-50%, -30%);
    }
    .pokemonStats > div > div {
        margin-right: 0px !important;
    }
    .pokemonStats > div {
        gap: unset;
        justify-content: space-between;
    }

    .details > .pokeballBackground {
        right: 50%;
        transform: translate(50%,0);
        z-index: 0;
    }
    
    .details > .detailSprite {
        position: absolute;
        bottom: 30px;
        right: 50%;
        transform: translate(50%,0);
    }


    .pokemonStats {
        left: 50%;
        top: 50%; 
        padding: 36px 74px 52px;
        transform: translate(-50%, -15%);
    }

    .details > h1 {
        font-size: 36px;
    }

    .details > span {
        font-size: 16px;
    }

    .details .typeContainer > .typeLabel {
        border-radius: 12px;
        font-size: 11px;

        
        margin-block: 12px;
        padding-inline: 8px;
        padding-block: 4px;
    }
}


